<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoO67JdzJN3BaGTVefkdcj4DeKE68301k</string>
	<key>GCM_SENDER_ID</key>
	<string>834663452450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dualweather.Dual-Weather-iOS</string>
	<key>PROJECT_ID</key>
	<string>dual-weather-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>dual-weather-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834663452450:ios:532192fcd0164b0dd49f7b</string>
</dict>
</plist>